.custom-icon, .play-button {
    -fx-effect: dropshadow(three-pass-box, #3498db, 10, 0, 0, 0);
    -fx-transition: all 0.2s;
    -fx-cursor: hand;
}

.custom-icon:hover, .play-button:hover {
    -fx-effect: dropshadow(three-pass-box, #ffcc00, 10, 0, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.character, .answer-field {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-font-size: 54px; 
    -fx-font-weight: bold;
}

.character, .answer-field {
    -fx-background-color: transparent;
}

.answer-field {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #000000; 
    -fx-border-width: 1; 
    -fx-background-color: #ffffffdb;
}

.time-label, .score-label {
    -fx-text-fill: #FF9300;
    -fx-font-size: 18px;
}

.special-character {
    -fx-text-fill: #FF9300;
}