.question-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 10;
    background-color: #8cee83;
}

.custom-icon {
    -fx-effect: dropshadow(three-pass-box, #3498db, 10, 0, 0, 0);
    -fx-transition: all 0.2s;
}

.custom-icon:hover {
    -fx-effect: dropshadow(three-pass-box, #ffcc00, 10, 0, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.rounded-corner {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #000000; 
    -fx-border-width: 1; 
    -fx-background-color: #ffffff;
}

.image-button {
    -fx-background-image: url('../images/Practice/next.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0;
    -fx-min-width: 50; 
    -fx-min-height: 50;
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

.image-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}

.answer-field {
    -fx-padding: 0 0 0 45px;
}